@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="mb-2" style="font-family:'Eras ITC'">¡Bienvenidos!</h1>
    @*<p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>*@

        <img src="~/Tema/img/Logo Clínica del Pie-Negro.png" width="1000"/>
    </div>

